/*! MIT License | thewisenerd (thewisenerd@protonmail.com) */

@import 'generic/variables';

.page-section--header {
    padding-top: 2em;
    background-color: $color-grey--100;
    border-bottom: 1px solid $color-grey--300;

    color: $color-black;

    .section-heading {
        font-size: $fontSize-larger--em;

        padding: 0;
        margin: 0;
    }

    .section-text {
        padding: 0;
        margin: 0;

        font-family: $fontRaleway;
        font-size: $fontSize-base--em;
    }
} // .page-section--header

.page-section--content {
    border-top: 1px solid $color-grey--300;
    background-color: $color-white;
    color: $color-black;

} // .page-section--content
