/*! MIT License | thewisenerd (thewisenerd@protonmail.com) */

@import 'generic/variables';


@keyframes mslideInDown {
  from {
    max-height: 0px;
    opacity: 0;
  }

  to {
    max-height: 1000px; // hope to never get here.
    opacity: 1;
  }
};

$maxMembers: (2 * 3 * 4);

.page-section--header {
    background-color: $color-grey--100;
    border-bottom: 1px solid $color-grey--300;

    color: $color-black;

    .section-heading {
        font-family: $fontRaleway;
        font-size: $fontSize-base--em;

        padding: 0;
        margin: 0;

        list-style: none;

        text-align: center;

        li {
            display: inline-block;
            padding: 0 0.5rem;


            a {
                &,
                &:link,
                &:hover,
                &:visited,
                &:active {
                    text-decoration: none;
                    color: $color-black;
                    font-weight: $fontRaleway-normal;
                    font-family: $fontRaleway;

                    transition: font-size $anim-short ease-in;
                }

                &:hover {
                    color: $color-black--a80;
                }

                &.active {
                    font-size: $fontSize-large--em;
                    transition: font-size $anim-short ease-in;
                }
            }
        }
    }

    .section-text {
        padding: 0;
        margin: 0;

        font-family: $fontRaleway;
        font-size: $fontSize-base--em;
    }
} // .page-section--header

.page-section--content {
    border-top: 1px solid $color-grey--300;
    background-color: $color-white;
    color: $color-black;

    .tp-container {
        padding-top: 1em;
        padding-bottom: 8em; //- hack

        a,
        a:link,
        a:hover,
        a:visited,
        a:active {
            color: $blue;
            text-decoration: none;
        }

        a:hover {
            color: $color-black;
        }

        .masonry--heading {
            font-family: $fontRaleway;
            font-size: $fontSize-large--em;
            padding-bottom: 1em;
        }

        .masonry--container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            position: relative;
            z-index: $zIndex-3--team-page-bg;

            .masonry--panel {
                position: relative;
                z-index: $zIndex-3 + 2;

                // flexbox order... thanks :]
                @for $i from 0 to $maxMembers {
                    &:nth-child( #{ $i + 1 } ) {
                        order: (2 * $i) + 1;
                    }
                }

            } // .masonry--panel

            // MQ: xs
            @media (max-width: $screen-xs-max) {
                .masonry--panel {
                    flex: 0 0 100%;
                    max-width: 100%;
                    transition: background-color $anim-short $anim-short ease-in-out;
                }
            }

            // MQ: sm
            @media (min-width: $screen-xs) and (max-width: $screen-sm-max) {
                .masonry--panel {
                    flex: 0 0 33.333333%;
                    max-width: 33.33333%;
                }
            }

            // MQ: md
            @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
                .masonry--panel {
                    flex: 0 0 25%;
                    max-width: 25%;
                }
            }

            // MQ: lg
            @media (min-width: $screen-md) {
                .masonry--panel {
                    flex: 0 0 20%;
                    max-width: 20%;
                }
            }
        } // .masonry--container

        @if ($debug == 1) {
            .masonry--panel {
                background: red;
                border: 3px solid black;

                .extra-info-wrapper {
                    border: 3px dashed blue;
                }
            }
        } // debug

    } // tp-container
} // .page-section--content

.tp-container, .tingle-modal--visible {
    .masonry--container, .tingle-modal-box {
        .masonry--panel, .tingle-modal-box__content {
            text-align: center;
            padding: 0.5rem;

            img.img-thumbnail {
                display: inline-block;
                padding: 4px;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 4px;
            }

            img {
                width: 80%;
            }

            .name {
                width: 100%;
                text-align: center;
                padding: 0px;
                margin: 0px;

                font-family: $fontRaleway;
                font-size: (( $fontSize-larger--emu * 2 / 3 ) + em);
                font-weight: $fontRaleway-bold;

                //- height: (($fontSize-larger--emu * 4 / 3) + em) ;
                white-space: nowrap;

                text-transform: uppercase;
            }

            .desg {
                width: 100%;
                text-align: center;
                padding: 0px;
                margin: 0px;

                font-family: $fontRaleway;
                font-size: (( $fontSize-large--emu * 2 / 3 ) + em);
                font-weight: $fontRaleway-normal;
            }

            .text {
                width: 100%;
                text-align: justify;
                padding-top: 1em;
                margin: 0px;

                font-family: $fontMerriweather;
                font-size: $fontSize-base--em;
                font-weight: $fontMerriweather-normal;
            }

            .links {
                width: 100%;
                text-align: left;

                font-family: $fontRaleway;
                font-size: $fontSize-base--em;
                font-weight: $fontRaleway-normal;
            }

        } // .masonry--panel
    } // .masonry--container
} // .tp-container

.tp-container {
    .masonry--container {
        .masonry--panel {
            .extra-info-wrapper {
                max-height: 0px;
                overflow: hidden;
            }

            a.show-more:after {
                content: 'More +';
                cursor: pointer;
            }
        }
    }
}

.tingle-modal--visible {
    .tingle-modal-box {
        .tingle-modal-box__content {
            padding: 1em;

            //- hack; fix later.
            img {
                margin-bottom: 1em;
            }

            a.show-more {
                display: none;
            }

            .extra-info-wrapper {
                text-align: left;
                max-height: 1000px;
            }
        } // .masonry--panel

        // MQ: sm
        @media (min-width: $screen-xs) and (max-width: $screen-sm-max) {
            .tingle-modal-box__content {
                img {
                    width: 25%;
                }
            }
        }

        // MQ: md
        @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
            .tingle-modal-box__content {
                img {
                    width: 33.33%;
                }
            }
        }

        // MQ: lg
        @media (min-width: $screen-md) {
            .tingle-modal-box__content {
                ul.links {
                    display: inline;
                    list-style-type: none;
                    padding: 1em 0;
                    margin:  0;
                    li {
                        display: inline;
                        &:after {
                            content: ' | ';
                        }
                        &:last-child:after {
                            content: '';
                        }
                    }
                }

                img {
                    width: 25%;
                }
            }
        }

        // MQ: grid-breakpoint
        @media (min-width: $grid-float-breakpoint) {
            .tingle-modal-box__content {
                img {
                    float: left;
                    margin-right: 1rem;
                }
                .name, .desg {
                    text-align: left;
                }
            }
        }
    } // .masonry--container
} // .tp-container

@media (max-width: $screen-sm-max) {
    .fp-tooltip {
        display: none !important;
    }
}

@media (min-width: $screen-sm) {
    .fp-tooltip {
        background: black;
        //- padding: 0.5rem;
    }
}

.fp-controlArrow.fp-prev {
    border-right-color: $color-black !important;
}

.fp-controlArrow.fp-next {
    border-left-color: $color-black !important;
}


@media (max-width: 540px) {
    .tingle-modal {
        top: $navbar--min-height !important;
        z-index: $zIndex-8--tingle-modal !important;
    }
    .tingle-modal__close {
        position: relative !important;
        z-index: $zIndex-8--tingle-button;
    }
}

.page-section--header {
    position: fixed;
    top: 0;
    left: 0;
}

@media (min-width: $grid-float-breakpoint) {
    .page-section--header {
        padding-top: 2em;

        .section-heading {
            font-size: $fontSize-large--em;
        }
    }
}
