/*! MIT License | thewisenerd (thewisenerd@protonmail.com) */

@import 'generic/variables';

.page-section--header {
    padding-top: 2em;
    background-color: $color-grey--100;
    border-bottom: 1px solid $color-grey--300;

    color: $color-black;

    .section-heading {
        font-size: $fontSize-larger--em;

        padding: 0;
        margin: 0;
    }

    .section-text {
        padding: 0;
        margin: 0;

        font-family: $fontRaleway;
        font-size: $fontSize-base--em;
    }
}

.page-section--content {
    border-top: 1px solid $color-grey--300;
    background-color: $color-white;
    color: $color-black;

    .tp-container {
        padding-top: 1em;
        padding-bottom: 1em;

        margin-right: -0.5rem;
        margin-left:  -0.5rem;
        width: initial;

        text-align: justify;

        a,
        a:link,
        a:hover,
        a:visited,
        a:active {
            color: $blue;
            text-decoration: none;
        }

        a:hover {
            color: $color-black;
        }

        img.img-thumbnail {
            display: inline-block;
            max-width: 100%;
            height: auto;
            padding: 4px;

            line-height: 1.42857143;

            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            transition: all .2s ease-in-out;

            width: 100%;
            height: auto;
        }

        .info {
            .name {
                width: 100%;
                text-align: left;
                padding: 0px;
                margin: 0px;

                font-family: $fontRaleway;
                font-size: $fontSize-larger--em;
                font-weight: $fontRaleway-bold;

                text-transform: uppercase;
            }

            .desg {
                width: 100%;
                text-align: left;
                padding: 0px;
                margin: 0px;

                font-family: $fontRaleway;
                font-size: $fontSize-large--em;
                font-weight: $fontRaleway-normal;
            }

            .text {
                width: 100%;
                text-align: justify;
                padding-top: 1em;
                margin: 0px;

                font-family: $fontMerriweather;
                font-size: $fontSize-base--em;
                font-weight: $fontMerriweather-normal;
            }

            .links {
                width: 100%;
                text-align: left;

                font-family: $fontRaleway;
                font-size: $fontSize-base--em;
                font-weight: $fontRaleway-normal;
            }
        }

        &.tp-container--odd {
            border-bottom: 1px solid $color-grey--300;
        }

        &.tp-container--even {
            background-color: $color-grey--100;
            border-bottom: 1px solid $color-grey--300;
        }

        @media (min-width: $screen-xs) {
            & > .container > .row {
                display: flex;

                & > .col-pp, & > .info {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                & > .info {
                    flex-direction: column;
                }
            }

            ul.links {
                display: inline;
                list-style-type: none;
                padding: 1em 0;
                margin:  0;

                li {
                    display: inline;

                    &:after {
                        content: ' |';
                    }
                    &:last-child:after {
                        content: '';
                    }
                }
            }
        } // $min-width : sm

        @media (max-width: $screen-xs-max) {
            .col-pp {
                text-align: center;
            }

            img.img-thumbnail {
                width: (100% * 3 / 5);
            }

            .info {
                padding-top: 1em;

                .name, .desg {
                    text-align: center;
                }
            }
        }
    }

    .tp-minion-container {
        padding-top: 1em;
        padding-bottom: 1em;

        margin-right: -0.5rem;
        margin-left:  -0.5rem;
        width: initial;

        text-align: justify;

        .heading {
            font-family: $fontJosefinSlab;
            font-size: $fontSize-larger--em;

            width: 100%;
            text-align: center;
            padding-bottom: 1em;
        }

        &.tp-minion-container--odd {
            border-bottom: 1px solid $color-grey--300;
        }

        &.tp-minion-container--even {
            background-color: $color-grey--100;
            border-bottom: 1px solid $color-grey--300;
        }

        .minion-row {
            text-align: center;
        }

        [class*='column'] {
            float: none;
            position: relative; // added by twn
            display: inline-block;

            vertical-align: top;
        }

        .minion {
            text-align: center;
            padding-bottom: 2em;
            margin-left: -1em; // todo: this is hack fix. remove later.

            // background-color: red;

            p {
                padding: 0;
                margin: 0;
            }

            p.name {
                font-family: $fontRaleway;
                // font-weight: bold;
                text-transform: uppercase;
            }

            p.desg {
                font-family: $fontMerriweather;
            }


            img.img-thumbnail {
                display: inline-block;

                padding: 4px;

                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 4px;
            }

        }

        .minion--1 {
            img {
                width: 75%;
            }

            p.name {
                font-size: (( $fontSize-larger--emu * 4 / 5 ) + em);
            }

            p.desg {
                font-size: (($fontSize-large--emu * 4 / 5) + em);
            }
        }

        .minion--2 {
            img {
                width: 80%;
            }

            p.name {
                font-size: (( $fontSize-larger--emu * 2 / 3 ) + em);
            }

            p.desg {
                font-size: (($fontSize-large--emu * 2 / 3) + em);
            }
        }


        @media (max-width: $screen-xs-max) {
            .minion.xs-twelve {
                img {
                    width: 50%;
                }
            }
        }
    }


}
