extends default

block title
    title 510 - Not Extended

block error
    h1 510 &mdash; Not Extended
    p Further extensions to the request are required for the server to fulfill it.
    p #[a(href='/') Click here] to head back to the home page.
    p Sorry for the inconvenience. Here is a space potato:
    img(src="/assets/images/spacepotato.jpg")
    p &mdash; Team SRMSAT
