doctype html

html(lang='en')
    head
        //- meta fixes
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        block title
            title Error - Default Error

        //- favicons
        link(rel='apple-touch-icon' sizes='180x180' href='/assets/favicon/apple-touch-icon.png')
        link(rel='icon' type='image/png' href='/assets/favicon/favicon-32x32.png' sizes='32x32')
        link(rel='icon' type='image/png' href='/assets/favicon/favicon-16x16.png' sizes='16x16')
        link(rel='mask-icon' href='/assets/favicon/safari-pinned-tab.svg')
        link(rel='shortcut icon' href='favicon.ico')
        meta(name='msapplication-config' content='browserconfig.xml')
        meta(name='theme-color' content='#ffffff')

        //- manifest
        link(rel='manifest' href='manifest.json')

        style.
            body {
                text-align: center;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                font-size: 1.4em;
                color: #212121;
            }
            article {
                display: block;
                text-align: left;
                max-width: 650px;
                margin: 0 auto;
            }

            img {
                width: 100%;
                height: auto;
            }

    body
        article
            block error
                h1 Error - Default Error Page
                p We&rsquo;re performing some maintenance at the moment. We&rsquo;ll be back online shortly!
                p Sorry for the inconvenience. Here is a space potato:
                img(src="/assets/images/spacepotato.jpg")
                p &mdash; Team SRMSAT
