extends default

block title
    title Site Maintenance

block error
    h1 We&rsquo;ll be back soon!
    p We&rsquo;re performing some maintenance at the moment. We&rsquo;ll be back online shortly!
    p Sorry for the inconvenience. Here is a space potato:
    img(src="/assets/images/spacepotato.jpg")
    p &mdash; Team SRMSAT
