extends ../default

block head-title
    title Team Page — Team SRMSAT

block head-prefetch

block page-css
    link(rel='stylesheet' href='/assets/css/team.css')

block page-js

block page-navbar
    +navbar('team')

mixin minion1(name, pp, desg)
    .xs-twelve.sm-four.md-three.column.minion.minion--1
        img.img-thumbnail(class='img-thumbnail' src='/assets/images/'+pp alt='Photo of '+name)
        p.name #{name}
        p.desg #{desg}

mixin minion2(name, pp, desg)
    .xs-six.sm-three.md-two.column.minion.minion--2
        img.img-thumbnail(class='img-thumbnail' src='/assets/images/'+pp alt='Photo of '+name)
        p.name #{name}
        p.desg #{desg}

block page-wrapper
    .page-wrapper.container-fluid.page-section--header
        .container
            .row.u-text-center
                p.section-heading.u-heading-slab The Team
                p.section-text
                //- Lorem ipsum dolor sit amet, consectetur adipiscing elit.

block page-scripts
    script.
        window.onload = function(e){
            addClass(document.getElementsByClassName('spinner-mask')[0], 'spinner-mask--hidden');
        }
