extends ../default

block head-title
    title Team Page — Team SRMSAT

block head-prefetch

block page-css
    link(rel='stylesheet' href='/assets/css/team.css')

block page-js

block page-navbar
    +navbar('team')

mixin minion1(name, pp, desg)
    .xs-twelve.sm-four.md-three.column.minion.minion--1
        img.img-thumbnail(class='img-thumbnail' src='/assets/images/'+pp alt='Photo of '+name)
        p.name #{name}
        p.desg #{desg}

mixin minion2(name, pp, desg)
    .xs-six.sm-three.md-two.column.minion.minion--2
        img.img-thumbnail(class='img-thumbnail' src='/assets/images/'+pp alt='Photo of '+name)
        p.name #{name}
        p.desg #{desg}

block page-wrapper
    .page-wrapper.container-fluid.page-section--header
        .container
            .row.u-text-center
                p.section-heading.u-heading-slab The Team
                p.section-text
                //- Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    .page-wrapper.container-fluid.page-section--content
        .container-fluid.tp-container.tp-container--odd
            .container
                .row
                    .xs-twelve.sm-four.md-three.column.col-pp
                        img(class="img-thumbnail" src="/assets/images/profile/akash.jpg" alt="Photo of Akash Ratheesh")
                    .xs-twelve.sm-eight.md-nine.column.info
                        p.name Akash Ratheesh
                        p.desg Systems Engineer
                        p.text

                        ul.links
                            li: a(href='https://www.researchgate.net/profile/Akash_Ratheesh' target='_blank') ResearchGate
                            li: a(href='https://in.linkedin.com/in/akash-ratheesh-882a75a1'  target='_blank') LinkedIn

        .container-fluid.tp-container.tp-container--even
            .container
                .row
                    .xs-twelve.sm-four.md-three.column.col-pp
                        img(class="img-thumbnail" src="/assets/images/profile/kuldeep.jpg" alt="Photo of Kuldeep Rambhai Barad")
                    .xs-twelve.sm-eight.md-nine.column.info
                        p.name Kuldeep Rambhai Barad
                        p.desg Head, Space Flight Dynamics Division
                        p.text

                        ul.links
                            li: a(href='https://www.researchgate.net/profile/Kuldeep_Barad' target='_blank') ResearchGate
                            li: a(href='https://in.linkedin.com/in/kuldeepbarad'  target='_blank') LinkedIn

        .container-fluid.tp-container.tp-container--odd
            .container
                .row
                    .xs-twelve.sm-four.md-three.column.col-pp
                        img(class="img-thumbnail" src="/assets/images/profile/harsha.jpg" alt="Photo of Sri Harsha Pavuluri")
                    .xs-twelve.sm-eight.md-nine.column.info
                        p.name Sri Harsha Pavuluri
                        p.desg Head, Astrionics Division
                        p.text

                        ul.links
                            li: a(href='mailto:harsha@teamsrmsat.in') harsha@teamsrmsat.in
                            li: a(href='https://www.researchgate.net/profile/Sri_Harsha_Pavuluri' target='_blank') ResearchGate
                            li: a(href='https://in.linkedin.com/in/sri-harsha-pavuluri-25ab47a1'  target='_blank') LinkedIn
                            li: a(href='/cv/sriharsha.pdf') CV

        .container-fluid.tp-container.tp-container--even
            .container
                .row
                    .xs-twelve.sm-four.md-three.column.col-pp
                        img(class="img-thumbnail" src="/assets/images/profile/kartik.jpg" alt="Photo of Kartik Naik")
                    .xs-twelve.sm-eight.md-nine.column.info
                        p.name Kartik Naik
                        p.desg Head, Mechanical Systems Division
                        p.text

                        ul.links
                            li: a(href='https://www.researchgate.net/profile/Kartik_Naik' target='_blank') ResearchGate
                            li: a(href='https://in.linkedin.com/in/kartik-naik'  target='_blank') LinkedIn

        .container-fluid.tp-container.tp-container--odd
            .container
                .row
                    .xs-twelve.sm-four.md-three.column.col-pp
                        img(class="img-thumbnail" src="/assets/images/profile/subham.jpg" alt="Photo of Subham Kumar Gupta")
                    .xs-twelve.sm-eight.md-nine.column.info
                        p.name Subham Kumar Gupta
                        p.desg Head, Structure Subsystem
                        p.text

                        ul.links
                            li: a(href='https://www.researchgate.net/profile/Subham_Gupta2' target='_blank') ResearchGate
                            li: a(href='https://in.linkedin.com/in/subhamgupta'  target='_blank') LinkedIn


    .page-wrapper.container-fluid.page-section--content

        .container-fluid.tp-minion-container.tp-minion-container--odd
            .container
                .row.heading Spaceflight Dynamics

                .row.minion-row
                    +minion1(
                        'Amin Ali Mody',
                        'profile/amin.jpg',
                        'ACS and Payload'
                    )
                    +minion1(
                        'Arunima Prakash',
                        'profile/arunima.jpg',
                        'Trajectory Design and Analysis'
                    )
                    +minion1(
                        'Sakshi Namdeo',
                        'profile/sakshi.jpg',
                        'Mission and Payload Ops.'
                    )
                    +minion1(
                        'Tushar Sharma',
                        'profile/tushar.jpg',
                        'Attitude and Orbit Dynamics'
                    )
                    +minion1(
                        'Peeyush Tekriwal',
                        'profile/peeyush.jpg',
                        'ADS and Sensors'
                    )

                    +minion1(
                        'Abbas Shaikh',
                        'profile/abbas.jpg',
                        'GNC'
                    )
                    +minion1(
                        'Gokull Subramanian',
                        'profile/gokull.jpg',
                        'ACS'
                    )
                    +minion1(
                        'Aman Pandia',
                        'profile/amanpandia.jpg',
                        'ADS'
                    )
                    +minion1(
                        'Pranava Bhatia',
                        'profile/pranav.jpg',
                        'GNC'
                    )
                    +minion1(
                        'R.S.G. Shanmukh',
                        'profile/shanmukh.jpg',
                        'GNC'
                    )
                    +minion1(
                        'Rajbir Singh',
                        'profile/rajbir.jpg',
                        'GNC'
                    )
                    +minion1(
                        'Shashank Dubey',
                        'profile/shashank.jpg',
                        'ADS'
                    )

                .row.minion-row
                    +minion2(
                        'Tarana Parvez Kaovasia',
                        'profile/tarana.jpg',
                        'ADCS'
                    )
                    +minion2(
                        'Sarthak Joshi',
                        'profile/sarthak.jpg',
                        'SFD'
                    )
                    +minion2(
                        'Anamika K.R.',
                        'profile/anamika.jpg',
                        'SFD'
                    )
                    +minion2(
                        'Sanhita Padia',
                        'profile/sanhita.jpg',
                        'SFD'
                    )

        .container-fluid.tp-minion-container.tp-minion-container--odd
            .container
                .row.heading Astrionics

                .row.minion-row
                    +minion1(
                        'Vineeth Raj',
                        'profile/vineeth.jpg',
                        'OBC'
                    )
                    +minion1(
                        'Sriharini Tumu',
                        'profile/sriharini.jpg',
                        'OBC'
                    )
                    +minion1(
                        'Babiya Moirangthem',
                        'profile/babiya.jpg',
                        'EPS'
                    )
                    +minion1(
                        'Aman Kimothi',
                        'profile/amankimothi.jpg',
                        'OBC'
                    )

                .row.minion-row
                    +minion2(
                        'Kshema George',
                        'profile/kshema.jpg',
                        'TTC'
                    )
                    +minion2(
                        'Mihir Patil',
                        'profile/mihir.jpg',
                        'TTC'
                    )
                    +minion2(
                        'Shivam Sharma',
                        'profile/shivam2.jpg',
                        'TTC'
                    )
                    +minion2(
                        'Ankit Patel',
                        'profile/ankit.jpg',
                        'Power'
                    )
                    +minion2(
                        'Revanth Chowdary',
                        'profile/revanth.jpg',
                        'Power'
                    )
                    +minion2(
                        'G. Kaavya',
                        'profile/kaavya.jpg',
                        'OBSW'
                    )
                    +minion2(
                        'Moinak Bandyopadhyay',
                        'profile/moinak.jpg',
                        'OBHW'
                    )
                    +minion2(
                        'Snehasish Dawn',
                        'profile/dawn.jpg',
                        'OBHW'
                    )
                    +minion2(
                        'Hemant Choudhary',
                        'profile/hemant.jpg',
                        'OBHW'
                    )
                    +minion2(
                        'Vatsal Bhatia',
                        'profile/vatsal.jpg',
                        'OBHW'
                    )
                    +minion2(
                        'Rounak Datta',
                        'profile/rounak.jpg',
                        'OBSW'
                    )
                    +minion2(
                        'Isha Mohan',
                        'profile/isha.jpg',
                        'OBHW'
                    )
                    +minion2(
                        'Darsh Ashik Naik',
                        'profile/darsh.jpg',
                        'OBSW'
                    )


        .container-fluid.tp-minion-container.tp-minion-container--odd
            .container
                .row.heading Mechanical Systems

                .row.minion-row
                    +minion1(
                        'Jananee D.',
                        'profile/jananee.jpg',
                        'Propulsion'
                    )
                    +minion1(
                        'Siddharth Dash',
                        'profile/dash.jpg',
                        'Thermal'
                    )
                    +minion1(
                        'Surya Bhan Singh',
                        'profile/surya.jpg',
                        'Structure'
                    )

                .row.minion-row
                    +minion2(
                        'Aditya Patil',
                        'profile/aditya.jpg',
                        'Structure'
                    )


block page-scripts
    script.
        window.onload = function(e){
            addClass(document.getElementsByClassName('spinner-mask')[0], 'spinner-mask--hidden');
        }
