extends ../default

block head-title
    title Team Page — Team SRMSAT

block head-prefetch

block page-css
    link(rel='stylesheet' href='/assets/css/team.css')

block page-js

block page-navbar
    +navbar('team')

mixin minion1(name, pp, desg)
    .xs-twelve.sm-four.md-three.column.minion.minion--1
        img.img-thumbnail(class='img-thumbnail' src='/assets/images/'+pp alt='Photo of '+name)
        p.name #{name}
        p.desg #{desg}

mixin minion2(name, pp, desg)
    .xs-six.sm-three.md-two.column.minion.minion--2
        img.img-thumbnail(class='img-thumbnail' src='/assets/images/'+pp alt='Photo of '+name)
        p.name #{name}
        p.desg #{desg}

block page-wrapper
    .page-wrapper.container-fluid.page-section--header
        .container
            .row.u-text-center
                p.section-heading.u-heading-slab The Team
                p.section-text
                //- Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    .page-wrapper.container-fluid.page-section--content
        .container-fluid.tp-container.tp-container--odd
            .container
                .row
                    .xs-twelve.sm-four.md-three.column.col-pp
                        img(class="img-thumbnail" src="/assets/images/profile/akash.jpg" alt="Photo of Akash Ratheesh")
                    .xs-twelve.sm-eight.md-nine.column.info
                        p.name Akash Ratheesh
                        p.desg Systems Engineer
                        p.text

                        ul.links
                            li: a(href='https://www.researchgate.net/profile/Akash_Ratheesh' target='_blank') ResearchGate
                            li: a(href='https://in.linkedin.com/in/akash-ratheesh-882a75a1'  target='_blank') LinkedIn

        .container-fluid.tp-container.tp-container--even
            .container
                .row
                    .xs-twelve.sm-four.md-three.column.col-pp
                        img(class="img-thumbnail" src="/assets/images/profile/kuldeep.jpg" alt="Photo of Kuldeep Rambhai Barad")
                    .xs-twelve.sm-eight.md-nine.column.info
                        p.name Kuldeep Rambhai Barad
                        p.desg Head, Space Flight Dynamics Division
                        p.text
                            | Kuldeep Barad is an undergraduate student at Department of Aerospace Engineering, SRM University.
                            | Kuldeep joined the team in his freshman year as a Guidance Navigation and Control (GNC) engineer,
                            | and later contributed to Trajectory design and Attitude Determination and Control (ADCS) subsystems.
                            | He played a vital role in the trajectory design of the lunar mission. He also contributed largely to
                            | the payload design and worked on the definition of the scientific objective.

                        p.text
                            | Kuldeep currently leads the Space Flight Dynamics (SFD) division consisting of the GNC, Trajectory design
                            | and analysis, and ADCS subsystems. He ensures that the three subsystems work in coordination and helps
                            | interface the group with other divisions on a system level. He provides guidance to the newer members and
                            | helps induct them into the team.

                        ul.links
                            li: a(href='https://www.researchgate.net/profile/Kuldeep_Barad' target='_blank') ResearchGate
                            li: a(href='https://in.linkedin.com/in/kuldeepbarad'  target='_blank') LinkedIn

        .container-fluid.tp-container.tp-container--odd
            .container
                .row
                    .xs-twelve.sm-four.md-three.column.col-pp
                        img(class="img-thumbnail" src="/assets/images/profile/harsha.jpg" alt="Photo of Sri Harsha Pavuluri")
                    .xs-twelve.sm-eight.md-nine.column.info
                        p.name Sri Harsha Pavuluri
                        p.desg Head, Astrionics Division
                        p.text
                            | Sri Harsha Pavuluri is an undergraduate student at Department of Electronics and Communication Engineering,
                            | SRM University. Harsha initially joined the team as a member of the Electrical Power System (EPS),
                            | and later worked on the Telemetry, Tracking &amp; Command Subsystem (TTC). For the most part of SRMSAT - 2&rsquo;s
                            | timeline, Harsha has been a lone member working on the design of EPS and TTC subsystems and designed
                            | most of the subsystems himself. He also contributed to the design the payload equipment for the SRMSAT - 2.

                        p.text
                            | Harsha currently leads the Astrionics Division, and also acts as the subsystem head of the EPS
                            | and TTC subsystems. He ensures that the design teams are making progress in accordance with the
                            | project timeline, provides guidance to the members of the subsystems under astrionics division and
                            | ensures the validity of design. He also interfaces between divisions and subsystems, keeping up
                            | with the satellite system's design.

                        ul.links
                            li: a(href='mailto:harsha@teamsrmsat.in') harsha@teamsrmsat.in
                            li: a(href='https://www.researchgate.net/profile/Sri_Harsha_Pavuluri' target='_blank') ResearchGate
                            li: a(href='https://in.linkedin.com/in/sri-harsha-pavuluri-25ab47a1'  target='_blank') LinkedIn
                            li: a(href='/cv/sriharsha.pdf') CV

        .container-fluid.tp-container.tp-container--even
            .container
                .row
                    .xs-twelve.sm-four.md-three.column.col-pp
                        img(class="img-thumbnail" src="/assets/images/profile/kartik.jpg" alt="Photo of Kartik Naik")
                    .xs-twelve.sm-eight.md-nine.column.info
                        p.name Kartik Naik
                        p.desg Head, Mechanical Systems Division
                        p.text
                            | Kartik Naik is an undergraduate student at Department of Mechanical Engineering, SRM University.
                            | Kartik joined the team in his freshman year as a thermal engineer, and later worked on the structure
                            | and propulsion subsystems. Being the only member in thermal subsystem for a year, he played a crucial
                            | role in its design. He had also contributed to the payload design.

                        p.text
                            | Kartik currently leads the mechanical systems division consisting of the structure, propulsion and
                            | thermal subsystems. He ensures that the three subsystems work in coordination and helps interface
                            | the group with other divisions on a system level. He provides guidance to the newer members and helps
                            | them in their induction into the team. He gives a systems design approach for the mechanical systems division.

                        ul.links
                            li: a(href='https://www.researchgate.net/profile/Kartik_Naik' target='_blank') ResearchGate
                            li: a(href='https://in.linkedin.com/in/kartik-naik'  target='_blank') LinkedIn

        .container-fluid.tp-container.tp-container--odd
            .container
                .row
                    .xs-twelve.sm-four.md-three.column.col-pp
                        img(class="img-thumbnail" src="/assets/images/profile/subham.jpg" alt="Photo of Subham Kumar Gupta")
                    .xs-twelve.sm-eight.md-nine.column.info
                        p.name Subham Kumar Gupta
                        p.desg Head, Structure Subsystem
                        p.text
                            | Subham is a student in SRM University pursuing his Bachelor&rsquo;s in Mechanical Engineering
                            | joined the team in 2014 as a structural design engineer and has been working since then on the
                            | preliminary and critical design of SRMSAT - 2.  For nearly a year he was the sole member of the
                            | Structure subsystem and designed the preliminary on his own. Over the years he has mastered 3D solid
                            | modelling software and has in-depth knowledge has brought the design from scratch to where it stands today.

                        p.text
                            | He now works as the Mechanical Systems Engineer and leads his team with 3 juniors and 4 newer recruits as
                            | a part of Mechanical Systems. He has been teaching them 3D modelling using Siemens NX and prepared them
                            | for the mission before they could be split into the three subsystems namely, Structure, Propulsion and Thermal.
                            | He ensures smooth functioning of the Mechanical Systems Division and provides technical guidance to his
                            | subordinates in the team.

                        ul.links
                            li: a(href='https://www.researchgate.net/profile/Subham_Gupta2' target='_blank') ResearchGate
                            li: a(href='https://in.linkedin.com/in/subhamgupta'  target='_blank') LinkedIn


    .page-wrapper.container-fluid.page-section--content

        .container-fluid.tp-minion-container.tp-minion-container--odd
            .container
                .row.heading Spaceflight Dynamics

                .row.minion-row
                    +minion1(
                        'Amin Ali Mody',
                        'profile/amin.jpg',
                        'ACS and Payload'
                    )
                    +minion1(
                        'Arunima Prakash',
                        'profile/arunima.jpg',
                        'Trajectory Design and Analysis'
                    )
                    +minion1(
                        'Sakshi Namdeo',
                        'profile/sakshi.jpg',
                        'Mission and Payload Ops.'
                    )
                    +minion1(
                        'Tushar Sharma',
                        'profile/tushar.jpg',
                        'Attitude and Orbit Dynamics'
                    )
                    +minion1(
                        'Peeyush Tekriwal',
                        'profile/peeyush.jpg',
                        'ADS and Sensors'
                    )

                    +minion1(
                        'Abbas Shaikh',
                        'profile/abbas.jpg',
                        'GNC'
                    )
                    +minion1(
                        'Gokull Subramanian',
                        'profile/gokull.jpg',
                        'ACS'
                    )
                    +minion1(
                        'Aman Pandia',
                        'profile/amanpandia.jpg',
                        'ADS'
                    )
                    +minion1(
                        'Pranava Bhatia',
                        'profile/pranav.jpg',
                        'GNC'
                    )
                    +minion1(
                        'R.S.G. Shanmukh',
                        'profile/shanmukh.jpg',
                        'GNC'
                    )
                    +minion1(
                        'Rajbir Singh',
                        'profile/rajbir.jpg',
                        'GNC'
                    )
                    +minion1(
                        'Shashank Dubey',
                        'profile/shashank.jpg',
                        'ADS'
                    )

                .row.minion-row
                    +minion2(
                        'Tarana Parvez Kaovasia',
                        'profile/tarana.jpg',
                        'ADCS'
                    )
                    +minion2(
                        'Sarthak Joshi',
                        'profile/sarthak.jpg',
                        'SFD'
                    )
                    +minion2(
                        'Anamika K.R.',
                        'profile/anamika.jpg',
                        'SFD'
                    )
                    +minion2(
                        'Sanhita Padia',
                        'profile/sanhita.jpg',
                        'SFD'
                    )

        .container-fluid.tp-minion-container.tp-minion-container--odd
            .container
                .row.heading Astrionics

                .row.minion-row
                    +minion1(
                        'Vineeth Raj',
                        'profile/vineeth.jpg',
                        'OBC'
                    )
                    +minion1(
                        'Sriharini Tumu',
                        'profile/sriharini.jpg',
                        'OBC'
                    )
                    +minion1(
                        'Babiya Moirangthem',
                        'profile/babiya.jpg',
                        'EPS'
                    )
                    +minion1(
                        'Aman Kimothi',
                        'profile/amankimothi.jpg',
                        'OBC'
                    )

                .row.minion-row
                    +minion2(
                        'Kshema George',
                        'profile/kshema.jpg',
                        'TTC'
                    )
                    +minion2(
                        'Mihir Patil',
                        'profile/mihir.jpg',
                        'TTC'
                    )
                    +minion2(
                        'Shivam Sharma',
                        'profile/shivam2.jpg',
                        'TTC'
                    )
                    +minion2(
                        'Ankit Patel',
                        'profile/ankit.jpg',
                        'Power'
                    )
                    +minion2(
                        'Revanth Chowdary',
                        'profile/revanth.jpg',
                        'Power'
                    )
                    +minion2(
                        'G. Kaavya',
                        'profile/kaavya.jpg',
                        'OBSW'
                    )
                    +minion2(
                        'Moinak Bandyopadhyay',
                        'profile/moinak.jpg',
                        'OBHW'
                    )
                    +minion2(
                        'Snehasish Dawn',
                        'profile/dawn.jpg',
                        'OBHW'
                    )
                    +minion2(
                        'Hemant Choudhary',
                        'profile/hemant.jpg',
                        'OBHW'
                    )
                    +minion2(
                        'Vatsal Bhatia',
                        'profile/vatsal.jpg',
                        'OBHW'
                    )
                    +minion2(
                        'Rounak Datta',
                        'profile/rounak.jpg',
                        'OBSW'
                    )
                    +minion2(
                        'Isha Mohan',
                        'profile/isha.jpg',
                        'OBHW'
                    )
                    +minion2(
                        'Darsh Ashik Naik',
                        'profile/darsh.jpg',
                        'OBSW'
                    )


        .container-fluid.tp-minion-container.tp-minion-container--odd
            .container
                .row.heading Mechanical Systems

                .row.minion-row
                    +minion1(
                        'Jananee D.',
                        'profile/jananee.jpg',
                        'Propulsion'
                    )
                    +minion1(
                        'Siddharth Dash',
                        'profile/dash.jpg',
                        'Thermal'
                    )
                    +minion1(
                        'Surya Bhan Singh',
                        'profile/surya.jpg',
                        'Structure'
                    )

                .row.minion-row
                    +minion2(
                        'Aditya Patil',
                        'profile/aditya.jpg',
                        'Structure'
                    )


block page-scripts
    script.
        window.onload = function(e){
            addClass(document.getElementsByClassName('spinner-mask')[0], 'spinner-mask--hidden');
        }
