footer.page-wrapper.footer.container-fluid
    .container
        .row
            .xs-twelve.sm-one-half.md-one-third.column.univ-logo
                .u-heading-slab.u-text-center SRM University
                .u-text-center
                    img.footer-logo(src='/assets/images/srm-univ-logo.png' alt='SRM University Logo')
            .xs-twelve.sm-one-half.md-one-third.column
                .u-heading-slab.u-text-center Team SRMSAT
                .u-text-center
                    img.footer-logo(src='/assets/images/final-logo-transparent.png' alt='Team SRMSAT Logo')
            .xs-twelve.sm-twelve.md-one-third.column
                .u-heading-slab Contact
                ul
                    li
                        .fa.fa-home
                        span Room&nbsp;no.&nbsp;31, 4<sup>th</sup>&nbsp;floor, Central&nbsp;Library&nbsp;Building, SRM&nbsp;University&nbsp;&mdash;&nbsp;KTR.
                    li
                        .fa.fa-phone
                        span +91&nbsp;9940&nbsp;327&nbsp;539
                    li
                        .fa.fa-envelope
                        span
                            a(href='mailto:queries@teamsrmsat.in' target='_blank') queries@teamsrmsat.in
                    li
                        .fa.fa-facebook-square
                        a(href='https://www.facebook.com/srmsat2014' target='_blank') @srmsat2014
