extends default

block head-title
    title Team SRMSAT - Standard Page

block head-prefetch

block page-css
    link(rel='stylesheet' href='/assets/css/article.css')

block page-js

block page-wrapper
    .page-wrapper.container-fluid.page-section--header
        .container
            .row.u-text-center
                p.section-heading.u-heading-slab Page Title
                p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    .page-wrapper.container-fluid.page-section--content

        .container.page-container.page-container-type-1
            p.section-heading Container Type 1 - large heading

            p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, mauris quis elementum gravida, leo ante pretium urna, non malesuada purus enim vel lorem. Quisque in egestas lacus. Fusce fringilla magna magna, a ullamcorper nulla commodo in. Nulla facilisi. Maecenas interdum augue felis, eget sollicitudin diam luctus in. Phasellus vulputate diam id ipsum volutpat, id pulvinar dolor iaculis. Vestibulum mattis id felis nec sodales. Praesent sit amet placerat ipsum. Ut varius quis massa at maximus. Pellentesque quis nulla vitae mi elementum hendrerit. Integer iaculis mi in placerat tempor.
            p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, mauris quis elementum gravida, leo ante pretium urna, non malesuada purus enim vel lorem. Quisque in egestas lacus. Fusce fringilla magna magna, a ullamcorper nulla commodo in. Nulla facilisi. Maecenas interdum augue felis, eget sollicitudin diam luctus in. Phasellus vulputate diam id ipsum volutpat, id pulvinar dolor iaculis. Vestibulum mattis id felis nec sodales. Praesent sit amet placerat ipsum. Ut varius quis massa at maximus. Pellentesque quis nulla vitae mi elementum hendrerit. Integer iaculis mi in placerat tempor.

        .container.page-container.page-container-type-2
            p.section-heading Container Type 2 - small heading

            p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, mauris quis elementum gravida, leo ante pretium urna, non malesuada purus enim vel lorem. Quisque in egestas lacus. Fusce fringilla magna magna, a ullamcorper nulla commodo in. Nulla facilisi. Maecenas interdum augue felis, eget sollicitudin diam luctus in. Phasellus vulputate diam id ipsum volutpat, id pulvinar dolor iaculis. Vestibulum mattis id felis nec sodales. Praesent sit amet placerat ipsum. Ut varius quis massa at maximus. Pellentesque quis nulla vitae mi elementum hendrerit. Integer iaculis mi in placerat tempor.
            p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, mauris quis elementum gravida, leo ante pretium urna, non malesuada purus enim vel lorem. Quisque in egestas lacus. Fusce fringilla magna magna, a ullamcorper nulla commodo in. Nulla facilisi. Maecenas interdum augue felis, eget sollicitudin diam luctus in. Phasellus vulputate diam id ipsum volutpat, id pulvinar dolor iaculis. Vestibulum mattis id felis nec sodales. Praesent sit amet placerat ipsum. Ut varius quis massa at maximus. Pellentesque quis nulla vitae mi elementum hendrerit. Integer iaculis mi in placerat tempor.

        .container.page-container.page-container-type-3
            p.section-heading Container Type 3 - image-right ( 40%, can change )

            .sm-pull-right
                img.u-img-responsive(src="/assets/images/fhd-bg.jpg" alt="image title")
                .img-caption Image Caption #1

            p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, mauris quis elementum gravida, leo ante pretium urna, non malesuada purus enim vel lorem. Quisque in egestas lacus. Fusce fringilla magna magna, a ullamcorper nulla commodo in. Nulla facilisi. Maecenas interdum augue felis, eget sollicitudin diam luctus in. Phasellus vulputate diam id ipsum volutpat, id pulvinar dolor iaculis. Vestibulum mattis id felis nec sodales. Praesent sit amet placerat ipsum. Ut varius quis massa at maximus. Pellentesque quis nulla vitae mi elementum hendrerit. Integer iaculis mi in placerat tempor.
            p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, mauris quis elementum gravida, leo ante pretium urna, non malesuada purus enim vel lorem. Quisque in egestas lacus. Fusce fringilla magna magna, a ullamcorper nulla commodo in. Nulla facilisi. Maecenas interdum augue felis, eget sollicitudin diam luctus in. Phasellus vulputate diam id ipsum volutpat, id pulvinar dolor iaculis. Vestibulum mattis id felis nec sodales. Praesent sit amet placerat ipsum. Ut varius quis massa at maximus. Pellentesque quis nulla vitae mi elementum hendrerit. Integer iaculis mi in placerat tempor.

            .u-clearfix

        .container.page-container.page-container-type-4
            p.section-heading Container Type 4 - image-left ( 40%, can change )

            .sm-pull-left
                img.u-img-responsive(src="/assets/images/fhd-bg.jpg" alt="image title")
                .img-caption Image Caption #1

            p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, mauris quis elementum gravida, leo ante pretium urna, non malesuada purus enim vel lorem. Quisque in egestas lacus. Fusce fringilla magna magna, a ullamcorper nulla commodo in. Nulla facilisi. Maecenas interdum augue felis, eget sollicitudin diam luctus in. Phasellus vulputate diam id ipsum volutpat, id pulvinar dolor iaculis. Vestibulum mattis id felis nec sodales. Praesent sit amet placerat ipsum. Ut varius quis massa at maximus. Pellentesque quis nulla vitae mi elementum hendrerit. Integer iaculis mi in placerat tempor.
            p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat, mauris quis elementum gravida, leo ante pretium urna, non malesuada purus enim vel lorem. Quisque in egestas lacus. Fusce fringilla magna magna, a ullamcorper nulla commodo in. Nulla facilisi. Maecenas interdum augue felis, eget sollicitudin diam luctus in. Phasellus vulputate diam id ipsum volutpat, id pulvinar dolor iaculis. Vestibulum mattis id felis nec sodales. Praesent sit amet placerat ipsum. Ut varius quis massa at maximus. Pellentesque quis nulla vitae mi elementum hendrerit. Integer iaculis mi in placerat tempor.

            .u-clearfix

        .container.page-container.page-container-type-5
            img.u-img-responsive(src="/assets/images/fhd-bg.jpg" alt="image title")
            .img-caption Type 5- full imageImage Caption #3

block page-scripts
